<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h3>Details Page here</h3>
        </main>
        <%- include('../includes/end.ejs') %>